<div class="form-group">
  <label class="col-sm-4 control-label">Name</label>
  <div class="col-sm-8">
  <%= f.input :name, input_html: { class: 'form-control' }, label: false , required: true%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">slug</label>
  <div class="col-sm-8">
  <%= f.input :slug, input_html: { class: 'form-control' }, label: false , required: false%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">Gender</label>
  <div class="col-sm-8">
    <%= select_tag 'gender', options_for_select( ['Male', 'Female'] ), label: false, required: false %>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">rank</label>
  <div class="col-sm-8">
  <%= f.input :rank, input_html: { class: 'form-control' }, label: false , required: false%>
  </div>
</div>
<div class="form-group">
  <label class="col-sm-4 control-label">house</label>
  <div class="col-sm-8">
  <%= f.input :house, input_html: { class: 'form-control' }, label: false , required: false%>
  </div>
</div>
<div class="form-actions">
  <%= f.button :submit, class: "btn btn-success btn-sm" %>
  <%= link_to 'Back', characters_path, class: "btn btn-primary btn-sm" %>
</div>
