<div class="row">
  <h1>All characters</h1>
</div>
<%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-danger pull-left" %>
<%= link_to 'Create Character', new_character_path ,class: "btn btn-success pull-left" %>
<%= link_to 'Get All Characters', acquire_characters_characters_path ,class: "btn btn-info pull-left", method: :post %>



<table class="table table-title" id="characters_datatable" data-source="<%= characters_path(format: "json") %>">
    <thead>
      <tr>
        <th>Name</th>
        <th>Gender</th>
        <th>Slug</th>
        <th>Rank</th>
        <th>House</th>
        <th>Created at</th>
        <th style="width: 300px;"></th>
      </tr>
    </thead>
    <tbody>
    </tbody>
</table>
