<div id="bg">
</div>
<div class"row">
  <div class="col-md-4 col-md-offset-12">
    <div class="card">
      <img class="logo m-b-30" alt="Reanima" src="<%= asset_path 'logo.png' %>" height="150">
      <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-inputs">
      <label>Email</label>
      <%= f.input :email, required: false, autofocus: true, wrapper:false, label:false, input_html: {class: "form-control"} %>
      <label>Password</label>
      <%= f.input :password, required: false, wrapper:false, label:false, input_html: {class: "form-control"} %>
      </div>
      <div class="form-actions">
      <%= f.button :submit, "Log in", class: "btn-danger btn btn-full" %>
      </div>
      <% end %>
      <%= render "devise/shared/links" %>
      </div>
    </div>
  </div>
</div>